<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicación de Gestión de Aviones</title>
</head>
<body>
    
    <h1>Bienvenido(a) a la Aplicación de Gestión de Aviones</h1>
    <p>Para comenzar, <a href="/aviones">haz clic aquí</a> para ver la lista de aviones.</p>

</body>
</html>
